@import "tailwindcss";


.nav-item.dropdown {
  position: relative;
}

.nav-item.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 40%;

  
}


.menu-item{
    transition: .3s;
}

.menu-item:hover{
    background-color:#d9d9d9 !important;
}

.menu-item .menu-title{
    transition:.3s;
    color:white;
}

.menu-item:hover .menu-title{
    background:#000 !important;
    color:#FFD700;
}